$mobile: "only screen and (max-width : 550px)";


html {
	background-color: rgb(153, 195, 207);
	font-family: 'Montserrat', sans-serif;
}

.logo{
    @media #{$mobile}{
        height: 25px;
        width: auto;
	}
}

.history {
	@media #{$mobile}{
		display: none;
	}
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 20%;
	border: 2px solid rgb(4, 50, 85);
	margin-right: 20px;
    border-radius: 5px;
    max-width: 250px;
    min-width: 150px;
	max-height: 56%;
	overflow: auto;
	color:rgb(4, 50, 85); 
	p {
		margin: 0;
		line-height: 1.5;
	}
	button{
		cursor: pointer;
		border-radius: 5px;
		border: rgb(4, 50, 85);
		background-color:rgb(4, 50, 85); 
		color: white;
		height: 35px;
		padding: 5px;
	}
}
.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;
    @media #{$mobile}{
		height: 100vh;
	}
}

.container {
    display: flex;
    touch-action: manipulation;
	flex-direction: column;
	justify-content: center;
	background-color: #c00025;
	width: 100%;
	max-width: 400px;
	border-radius: 15px;
    padding-bottom: 15px;
    @media #{$mobile}{
        width: 100%;
        max-width: 300px;
	}

	.opButton {
		background-color: rgb(0, 114, 145);
		width: 75%;
		margin-left: 3px;
	}
	button {
        @media #{$mobile}{
        font-size: 1rem;
        height: 45px;
	}
		border-radius: 100%;
		cursor: pointer;
		width: 25%;
		height: 55px;
		font-size: 1.6rem;
		color: white;
		box-shadow: 0 3px #322c2d;
		border: none;
		margin: 5px;
		background-color: rgb(0, 114, 145);
		&:nth-child(13) {
			width: 55%;
			border-radius: 55px;
			margin-left: 5%;
		}
	}
}
.display {
	margin-top: 20px;
	height: 80px;
	width: 85%;
	border-radius: 50px;
	color: white;
	background-color: #322c2d;
	box-shadow: 1px 1px #322c2d;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 8%;
	font-size: 60px;
	align-self: center;
	margin-bottom: 1%;
    overflow: hidden;
    @media #{$mobile}{
        height: 60px;
        font-size: 36px;
	}
}

.body {
	display: flex;
	width: 100%;
	height: 100%;
}

.logo {
	padding: 7%;
	padding-bottom: 1%;
}

.col-1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 75%;
	height: 100%;
	justify-content: space-evenly;
	align-items: space-around;
	// border:2px solid blue;
}

// [class*="col-"]{
//     border: 2px solid white;
// }

.col-2 {
	padding: 0 0 1% 0;
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
	padding-bottom: 0;
	// border: 2px solid green;
	justify-content: flex-start;
}

#specials {
	background-color: rgb(11, 93, 155);
}

.buttonsContainer {
	display: flex;
	justify-content: space-evenly;
	background-color: 2px solid black;
}

.number-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
}

.number-button {
	background-color: rgb(9, 67, 119);
}
